@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300&display=swap');

* {
  @include discharge-margins-and-paddings;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
}

h1 {
  @include discharge-margins-and-paddings;
  font-size: 72px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  @media (max-width: 800px) {
    font-size: 36px;
    line-height: 35px;
  }
}

h2 {
  @include discharge-margins-and-paddings;
  text-align: center;
  color: #31353e;
  font-size: 30px;
}

h3 {
  @include discharge-margins-and-paddings;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}