$white: #ffffff;
$bg-color: #edeff1;
$main-menu-and-some-headers-color: #31353e;
$hover-color: #dd4b2b;
$some-btns-collor: #612316;
$footer-bg-color: #d75d0e;
$footer-menu-hover: #4b4e73;
$news-section-colors-btns: #4e5159;