.our-advantages {
  padding: 50px 0;
  @media (max-width: 800px) {
    padding: 25px 0;
  }
}

.main-advantage {
  @include flex-row-space-around;
  margin-bottom: 50px;
  @media (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.secondary-advantage {
  @include flex-row-space-around;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.advantage-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  h3 {
    color: $main-menu-and-some-headers-color;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
    @media (max-width: 800px) {
      text-align: center;
    }
  }
  p {
    max-width: 450px;
    margin-bottom: 10px;
    @media (max-width: 800px) {
      display: block;
      margin: 10px auto;
      text-align: center;
    }
  }
}

.advantage-img {
  min-width: 40%;
  height: auto;
  background: url("../img/pizza.jpg") no-repeat center;
  background-size: contain;
  @media (max-width: 800px) {
    width: 100%;
    height: 40vh;
    margin-bottom: 10px;
  }
}